WebContent/resources/TEMARIO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/TEMARIO">

    <xsd:element name="TEMARIO">
        <xsd:complexType>
    	<xsd:sequence>
    		<xsd:element name="UNIDAD" maxOccurs="unbounded">
    		
    		    <xsd:complexType>
    	<xsd:sequence>
    		<xsd:element name="NOMBRE" type="xsd:string"></xsd:element>
    		<xsd:element name="TEMA" type="xsd:string" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    		
    		
    		</xsd:element>
    	
    	</xsd:sequence>
    </xsd:complexType>
    </xsd:element>




</xsd:schema>